/* CSS and core family tree structure taken from https://thecodeplayer.com/walkthrough/css3-family-tree */
/* Modified to fit better into my use case */

.tree ul {
	position: relative;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 20px;
}

.tree > ul > li > span {
	margin-bottom: 0px;
}

.tree > ul {
	padding-bottom: 0px;
}

.tree li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    float: none;
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 0px 1px 0 1px;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; right: 50%;
	border-bottom: 1px solid var(--color);
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid var(--color);
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid var(--color);
}

/*Time to add downward connectors from parents*/
.tree ul ul::after{
	content: '';
	position: absolute; left: 50%;
	border-left: 1px solid var(--color);
	width: 0; height: 20px;
    bottom: 0px
}

.tree li span{
	border: 1px solid var(--color);
	padding: 3px 1px;
	display: inline-block;
    margin-bottom: 20px;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/